/* Gradiant Color Generator https://gradients.cssgears.com/collections/Oei1y9uqZ3q7trtT */
.cardWrapper {
  font-family: 'PingFang SC';
  width: 240px;
  height: 120px;
  border-radius: 12px;
  transition: all .2s ease;
  cursor: pointer;
  color: white;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.cardHeader img {
  margin: 0;
}

.cardWrapper:hover {
  transform: scale(1.05);
}

.avatar {
  font-size: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.title {
  font-weight: light;
}
